@import "@govtechmy/myds-style/full.css";
@import "@govtechmy/myds-style/color.css";
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* Custom styles for connector lines and dots */
.dashed-line-gray {
  border-bottom: 2px dashed #a1a1aa;
}

.connector-dot::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2563eb;
  border-radius: 50%;
  right: -5px;
  top: -3px;
  z-index: 2;
}
