@import '@govtechmy/myds-style/full.css';
@import '@govtechmy/myds-style/color.css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@layer utilities {
  .icon-custom-grid-cols {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 24px;
  }

  @media (min-width: 768px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1200px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @media (min-width: 640px) {
    #navbar .hidden.xl\:flex {
      display: flex !important;
      justify-content: flex-start !important; /* force justify-start */
    }

    #navbar button[aria-label='Open navigation menu'] {
      display: none !important;
    }

    #navbar button[aria-label='Close navigation menu'] {
      display: none !important;
    }

    /* Increase height / padding of mobile dropdown */
    #navbar ~ div.shadow-context-menu {
      padding-top: 2rem; /* default is 0.75rem (p-3) */
      padding-bottom: 2rem;
    }

    .bg-bg-white.shadow-context-menu.absolute.z-40.block.xl\:hidden.h-fit.w-full.rounded-b-lg.p-3.transition-transform.motion-reduce\:transition-none.overflow-autp.max-h-full.-mb-16.translate-y-full {
      top: 4px !important; /* top-2 */
      bottom: auto !important; /* disable bottom-full */
      margin-bottom: 100px !important;
      transform: translateY(150%) !important;
      display: none !important;
      background-color: red;
    }
  }
}

/* Custom styles for connector lines and dots */
.dashed-line-gray {
  border-bottom: 2px dashed #a1a1aa;
}

.connector-dot::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2563eb;
  border-radius: 50%;
  right: -5px;
  top: -3px;
  z-index: 2;
}
